*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}    
body{
    padding: 10px 20px;
}
@media(min-width:375px) and (max-width:768px){
    header{
        margin: 0 0 40px 0;
    }
    .menu{
        display: none;
    }
    .logo{
        margin-top: 20;
        font-size: 25;
        font-weight: bold;
        color: #36b37f;

    }

    .hambuger {
        display: flex;
        justify-content: center;
        align-items: end;
        gap: 5px;
        flex-direction: column;
    }
    .hambuger p{
        padding: 1px 15px;
        background-color: black;
        border: 1px solid black;

    }
    
    .home{
        background-image: url(./assets/images/background.png);
        background-size: cover;
        background-position: center;
        background-repeat: repeat;
    }
    .intro{
        margin: 40px 25px 0px 40px;
    }
    .intro h1 {
        font-size: 30px;
        font-weight: bold;
        color: #172b4d;
        text-align: center;
    }
    .intro span{
        color: #36b37f;
        margin: 40px 30px 0 30px;
        
    }
    .home_paragraph{
        margin: 25px 2px 0px 2px;
    }
    .home_paragraph p{
        font-size: 25px;
        text-align: center;
        color: #344563;

    
    }
    .social_link{
        margin-top: 20px;
    }
    .social_link ul{
        display: flex;
        justify-content: center;
        align-items:center;
        gap: 8px;
        list-style: none;
        flex-direction: row;

    }
    .scroll{
        margin: 10px 0;
        display: flex;
        justify-content: center;
        align-items: center;
    

    }
    /* Styling of project section*/
    .project{
    display: flex;
    flex-direction: column;
    gap: 10px;
    }
    .project_title h2{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin: 10px 55px;
    }
    .project_title p{
        padding: 0 5px;
        border: 1px solid #36b37f;
        margin:  0 155px;
    }
    .cards{
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(1,1fr);
        align-items:center;
        justify-content: center;
    }
    .card{
        border: 1px solid #ebf0ee;
        width: 325px;
        max-width: 325px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 10px;
    }
    .card img{
        padding: 110px 125px;
        background-color: #ebf0ee;
        border-radius: 5px;
    }
    .card_title h3{
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        margin: 10px 25px;
        color:black;
    }
    .card_list {
        display: flex;
        justify-content: center;
        list-style: none;
        gap: 5px;
        max-width: 325px;
        width: 323px;

    }
    .card_list u li{
        padding: 5px 9px;
        background-color: #ebf0ee;
        text-wrap: nowrap;
        border-radius: 5px;
    }
    .card_button{
        margin: 20px 10px;
    }
    .card_button button{
        padding: 10px 20px;
        background-color: #36b37f;
        border: none;
        border-radius: 5px;
        color: #fff;
        font-weight: bold;
    }
    }
